{include file="header"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 品牌管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<input type="text" name="" id="goods_id" value="{$goods_id}" >
        <div class="text-c">
        <input type="file" id="file">
        <span><button type="button" class="btn btn-success" id="add" name=""><i class="Hui-iconfont">&#xe600;</i> 添加</button></span>
      </div>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a  onclick="deletemore()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> <a><button type="button" class="btn btn-success" id="add" name="" onClick="modaldemo()"><i class="Hui-iconfont">&#xe600;</i> 货品添加</button></span></a><span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="70">ID</th>
							<th width="120">属性</th>
							<th width="120">商品价格</th>
							<th width="120">商品库存</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<dl class="permission-list"  id="attribute-list"></dl>
			</div>
    </article>
    <div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
      <div class="modal-content radius">
       <div class="modal-header">
        <h3 class="modal-title">对话框标题</h3>
        <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
      </div>
      <div class="modal-body">
       <input type="text" name="" id="goods_id" value="{$goods_id}" >
       <input type="text" id="up_id" name="" hidden="">
       <br>
       <div id="attr_id"></div>

       商品库存：<input type="text" placeholder="商品库存" value="" class="input-text" style="width:220px" id="su_number">
       <br>
       商品价格：<input type="text" placeholder="商品价格" value="" class="input-text" style="width:220px" id="price">
       <span id="up_span"></span>
     </div>
     <div class="modal-footer">
      <button class="btn btn-primary" onclick="add()">确定</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
  </div>
</div>
</div>
</div>
</section>
{include file="footer"}
<!--_footer 作为公共模版分离出去-->
<script>
 function modaldemo(){
   $("#modal-demo").modal("show")
 }
 function getcate(str,id=0) {
  var goods_id=$("#goods_id").val()
              	   // console.log(goods_id)
              	   $.ajax({
              	   	url:"{:url('commodity/show')}",
              	   	type:'post',
              	   	data:{
              	   		goods_id:goods_id
              	   	},
              	   	dataType:'json',
              	   	success:function (res) {
              	   	  	 // console.log(res)
              	   	  	 data=res.data
              	   	  	 var div=''
              	   	  	 $.each(data,function (key,value) {
              	   	  	 	div=div+"<span>"+key+"</span>&nbsp&nbsp&nbsp&nbsp&nbsp<select style='width:100px;height:30px;' >"

              	   	  	 	$.each(value,function (key1,value1) {
              	   	  	 		div=div+"<option value='"+value1['a_d_id']+"'>"+value1['ad_name']+"</option>"

              	   	  	 	})
              	   	  	 	div=div+"</select><br><br>"

              	   	  	 })

              	   	  	 $("#attr_id").html(div)

              	   	  	}
                     })
                }
                getcate()

                function add() {
                  var goods_id=$("#goods_id").val()     	
                  var price=$("#price").val()
                  var su_number=$("#su_number").val()
                  var str=[]
                  $("#attr_id").children("select").each(function(key,value){
                    for (var i = 0; i < value.length; i++) {
                     if (value.options[i].selected) {
                      str.push(value[i].value);
                    }
                  }
                })
                  $.ajax({
                    url:'{:url("commodity/addAction")}',
                    type:'post',
                    data:{
                     goods_id:goods_id,
                     price:price,
                     su_number:su_number,
                     str:str,
                   },
                   success:function(res){
                    if (res.status=='ok') {
                     alert('添加成功')
                     show()
                   }
                 }
               })
                }
                function show(){
                 var goods_id=$('#goods_id').val()
                 $.ajax({
                  url:'{:url("commodity/showcate")}',
                  type:'post',
                  data:{
                   goods_id:goods_id,
                 },
                 success:function(res){
                   console.log(res)
                   var data=res.data
                   console.log(data)
                   var tr=''
                   for (var i = 0; i < data.length; i++) {
                    tr=tr+"<tr><td><input type='checkbox'class='mycheckbox' value='"+data[i]['id']+"'></td><td>"+data[i].id+"</td><td>"+data[i].attr_name+"</td><td>"+data[i].price+"</td><td>"+data[i].su_number+"</td><td class='f-14 product-brand-manage'><a  style='text-decoration:none' onclick='modaldemo1()'  title='编辑'><i class='Hui-iconfont'>&#xe6df;</i></a> <a style='text-decoration:none' class='delete_one ml-5' onclick='mydelete(\""+data[i]['id']+"\")' title='删除'><i class='Hui-iconfont'>&#xe6e2;</i></a>&nbsp <a href='{:url('a/test')}'>下载</a></td></tr>"
                  }
                  $(".table tbody").html(tr)
                } 
              })    
               }
               show()

               function mydelete(id){
                 $.ajax({
                  url:'{:url("commodity/delete")}',
                  type:'post',
                  data:{
                   id:id,
                 },
                 dataType:'json',
                 success:function(res){
                   if (res.status=='ok') {
                    alert('删除成功')
                    show()
                  }
                }
              })
               }
              $('#add').click(function () {
                     var file=$('#file')[0].files[0]
                    var formData = new FormData();
                    formData.append('file',$('#file')[0].files[0]);
                   //  for (var i = 0; i < file.length; i++) {
                   //       formData.append('file[]', file[i]);
                   // }  
                    $.ajax({
                         url:"{:url('a/addAction')}",
                                type:'post',
                                data:formData,
                                contentType:false,
                                processData: false,
                                cache:false,
                    success:function (res) {
                    console.log(res)
                  }
                })
               })

             </script>

             <!--请在下方写此页面业务相关的脚本-->
             <script type="text/javascript" src="__STATIC__/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>  
             <script type="text/javascript" src="__STATIC__/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
             <script type="text/javascript" src="__STATIC__/hui/lib/laypage/1.2/laypage.js"></script>
