{include file="header"}
<title>新建网站角色 - 管理员管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品牌名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="brand_name" name="name" datatype="*4-16" nullmsg="用户账户不能为空">
			</div>
			<input type="hidden" id="__token__" value="{$Request.token}" hidden="" />
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">品牌描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="brand_desc" name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">品牌网址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="site_url" name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"></label>
			<div class="formControls col-xs-8 col-sm-9">
					
					<input type="file" id="brand_logo" name="myfile">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="button" class="btn btn-success radius" id="add" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
         <span id="add_span"></span>
			</div>
		</div>
	</form>
</article>
</script>
{include file="footer"}
<script>
	$(document).ready(function(){
         $("#add").click(function(){
				        var __token__=$('#__token__').val()
						var brand_name=$('#brand_name').val()
						var brand_desc=$('#brand_desc').val()
						var site_url=$('#site_url').val()
						var brand_logo=$('#brand_logo')[0].files[0]
                        var formData = new FormData();
				        formData.append('brand_logo', $('input[name=myfile]')[0].files[0]);
				        formData.append('brand_name',brand_name);
				        formData.append('brand_desc',brand_desc);
				        formData.append('site_url',site_url);
				        formData.append('__token__',__token__);
						
					     $.ajax({
                           url:"{:url('brand/addAction')}",
                          
                           type:'post',
                           data:formData,
                           contentType: false,
                           processData: false,
                           cache: false,
                           success:function(res){
                           // console.log(res)
                           if (res.status=='ok') {
                           
                           	 $("#brand_name").val('');
                             $("#brand_desc").val('');
                             $("#site_url").val('');
                             $("#brand_logo").val('');
                           }
                           show()
                        }

					    })
					});
               })


</script>

<script type="text/javascript" src="__STATIC__/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>  
<script type="text/javascript" src="__STATIC__/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__STATIC__/hui/lib/laypage/1.2/laypage.js"></script>