{include file="header"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 品牌管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				
					<input type="text" placeholder="权限名称" value="" class="input-text" style="width:120px" id="name">
                 
				<button type="button" class="btn btn-success" id="add" name="" onClick=""><i class="Hui-iconfont">&#xe600;</i> 添加</button><span id="add_span"></span>
				
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="70">ID</th>
						
						    <th width="120">权限名称</th>
						    <th width="120">分类名字</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去--> 
<!-- <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.page.js"></script>  -->
<!--/_footer /作为公共模版分离出去--> 
{include file="footer"}
<!--请在下方写此页面业务相关的脚本--> 
<script>
      $(document).reday(function(){
      	 $("#add").click(function(){
      	 var name=$('#name').val()
      	 var category_id=$('category_id').val()
      	 $.ajax({
      	 	url:"{:url('permission/addAction')}",
      	 	type:'post',
      	 	dara:{
      	 		name:name,
      	 		category_id:category_id
      	 	},
      	 	dataType:'json',
      	 	success:function(res){
      	 		console.log(res)
      	 		if (res.status=='ok') {
                     elert(123);
      	 		}
      	 	}
      	 })
      	})
      });

					
</script>
<script type="text/javascript" src="__STATIC__/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>  
<script type="text/javascript" src="__STATIC__/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__STATIC__/hui/lib/laypage/1.2/laypage.js"></script>