{include file="header"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 权限管理 <span class="c-gray en">&gt;</span> 权限分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				    <input id='__token__' type="" name="__token__" value="{$Request.token}" hidden="" />
				    <input type="text" placeholder="管理员" value="" class="input-text" style="width:120px" id="path">
				    <select name="" id="category_id">
				    	<option value="">角色</option>
				    </select>
				<button type="button" class="btn btn-success" id="add" name="" onClick=""><i class="Hui-iconfont">&#xe600;</i> 添加</button><span id="add_span"></span>
				
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a  onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span>

       <span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="70">ID</th>
						
						    <th width="120">管理员名称</th>
							<th width="120">角色名称</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</article>
	</div>
	<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">对话框标题</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body">
				 <input type="text" value="" id="up_id" hidden="">
				 <input type="text" value="" id="up_name">
				 <input type="text" value="" id="up_description">
				 <input type="text" value="" id="up_path">
				 <select name="" id="up_category_id">
				    	<option>分类</option>
				    </select>
				 <span id="up_span"></span>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" onclick="up_action()">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
</section>
{include file="footer"}
<!--请在下方写此页面业务相关的脚本--> 
<script>
 	 $(document).ready(function(){
          $('#add').click(function(){
             
     
    	    $.ajax({
    	 	url:'{:url("user/addAction")}',
    	 	  type:'post',
    	 	  data:{
    	 		
    	 	},
    	 	success:function(res){
    	 		   getToken()
                   console.log(res)
                  
                   	 show()
                   }
                  
    	 	}
    	 	})
    	
     });			

</script>
<script type="text/javascript" src="__STATIC__/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>  
<script type="text/javascript" src="__STATIC__/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__STATIC__/hui/lib/laypage/1.2/laypage.js"></script>